<div class="container">
  <div class="row">
  <div class="col-sm">
    <table class="table table-dark table-hover table-striped" style="width: 250px; position:relative; top:50px; box-align: left">
      <thead class="thead-light">
        <tr>
          <th>ProjectId</th>
          <th>Project Owner</th>   
          <th>Project Description</th> 
          <th>Project Name</th> 
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Steve Smith</td>
          <td>28</td>
          <td>29</td>
          <td>29</td>
         <td><button id="btnTest" type="button" class="btn btn-primary" (click)="openProject(content)">Edit</button></td> 
         <td><button type="button" class="btn btn-primary">Delete</button></td> 
        </tr>
        <tr>
          <td>David Warner</td>
          <td>29</td> 
          <td>29</td> 
          <td>29</td>   
          <td><button type="button" class="btn btn-primary" (click)="openProject(content)">Edit </button></td> 
          <td><button type="button" class="btn btn-primary">Delete</button></td> 
        </tr>
        <tr>
          <td>Joe Root</td>
          <td>27</td>
          <td>29</td>    
          <td>29</td> 
          <td><button type="button" class="btn btn-primary" (click)="openProject(content)">Edit</button></td>  
          <td><button type="button" class="btn btn-primary">Delete</button></td> 
        </tr>
      </tbody>
    </table>
    
</div>
<div class="col-sm">
  <table class="table table-dark table-hover table-striped" style="width: 250px; position: relative; top:50px">
      <thead class="thead-light">
        <tr>
          <th>RqmtId</th>
          <th>Requirement</th>   
          <th>Type</th> 
          <th>ProjectId</th> 
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Steve Smith</td>
          <td>28</td>
          <td>29</td>
          <td>29</td>
         <td><button type="button" class="btn btn-primary" (click)="openRequirement(contentRequirement)">Edit</button></td> 
         <td><button type="button" class="btn btn-primary">Delete</button></td> 
        </tr>
        <tr>
          <td>David Warner</td>
          <td>29</td> 
          <td>29</td> 
          <td>29</td>   
          <td><button type="button" class="btn btn-primary" (click)="openRequirement(contentRequirement)">Edit </button></td> 
          <td><button type="button" class="btn btn-primary">Delete</button></td> 
        </tr>
        <tr>
          <td>Joe Root</td>
          <td>27</td>
          <td>29</td>    
          <td>29</td> 
          <td><button type="button" class="btn btn-primary" (click)="openRequirement(contentRequirement)">Edit</button></td>  
          <td><button type="button" class="btn btn-primary">Delete</button></td> 
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  </div>

  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Project</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="ProjectName">Project Name</label>
            <div class="input-group">
              <input id="ProjectName" class="form-control" placeholder="Project Name" name="dp">
            </div>
            <label for="ProjectDescription">Project Description</label>
            <div class="input-group">
              <input id="ProjectName" class="form-control" placeholder="Project Description" name="dp">
            </div>
            <label for="ProjectOwner">Project Owner</label>
            <div class="input-group">
              <input id="ProjectName" class="form-control" placeholder="Project Owner" name="dp">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
    </ng-template>
    
    <hr>
    
    <pre>{{closeResult}}</pre>

    <ng-template #contentRequirement let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Edit Requirement</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="Requirement">Requirement</label>
              <div class="input-group">
                <input id="Requirement" class="form-control" placeholder="Requirement" name="dp">
              </div>
              <label for="RequirementType">Requirement Type</label>
              <div class="input-group">
                <input id="RequirementType" class="form-control" placeholder="Type" name="dp">
              </div>
              <label for="ProjectId">Project Id</label>
              <div class="input-group">
                <input id="ProjectId" class="form-control" placeholder="ProjectId" name="dp">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>
      
      <hr>
      
      <pre>{{closeResult}}</pre>
  
      <ng-template #contentTeams let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edit Teams</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="TeamName">Team Name</label>
                <div class="input-group">
                  <input id="TeamName" class="form-control" placeholder="Team Name" name="dp">
                </div>
                <label for="ProjectId">Project Id</label>
                <div class="input-group">
                  <input id="ProjectId" class="form-control" placeholder="ProjectId" name="dp">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
          </div>
        </ng-template>
        
        <hr>
        
        <pre>{{closeResult}}</pre>

        
      <ng-template #contentRisks let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Edit Teams</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="Risk">Risk</label>
                <div class="input-group">
                  <input id="Risk Status" class="form-control" placeholder="Risk Status" name="dp">
                </div>
                <label for="ProjectId">Project Id</label>
                <div class="input-group">
                  <input id="ProjectId" class="form-control" placeholder="ProjectId" name="dp">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
          </div>
        </ng-template>
        
        <hr>
        
        <pre>{{closeResult}}</pre>

        <ng-template #contentUsers let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Edit Teams</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="First Name">First Name </label>
                  <div class="input-group">
                    <input id="FirstName" class="form-control" placeholder="First Name" name="dp">
                  </div>
                  <label for="Last Name">Last Name</label>
                  <div class="input-group">
                    <input id="lastname" class="form-control" placeholder="last name" name="dp">
                  </div>
                  <label for="TeamId">TeamId</label>
                  <div class="input-group">
                    <input id="TeamId" class="form-control" placeholder="TeamId" name="dp">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
          </ng-template>
          
          <hr>
          
          <pre>{{closeResult}}</pre>